.btn {
  border: 1px solid $black;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  margin: 0.3rem 0;
  
  &--subscribe {
    padding: .8rem 2rem;
    background-color: #cccccc;
  }

}
.btn-verde {
  width: 200px;
  border-top: 2rem;
  border-bottom: 2rem;
  background-color:$greenAdl;
  color:white;
}

.btn-google {
  display: block;
  align-items: center;
  border-top: 2rem;
  border-bottom: 2rem;
  width: 200px;

}